src/site/static/xml/ns/log4j-plugins-0.1.0.xsd

<?xml version="1.0"?>
<!-- =================== DO NOT EDIT THIS FILE ====================         -->
<!-- Generated by Modello 2.4.0,                                            -->
<!-- any modifications will be overwritten.                                 -->
<!-- ==============================================================         -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="https://logging.apache.org/xml/ns" targetNamespace="https://logging.apache.org/xml/ns">
  <xs:element name="pluginSet" type="PluginSet">
    <xs:annotation>
      <xs:documentation source="version">0.0.0+</xs:documentation>
      <xs:documentation source="description">Documents a set of Log4j plugins.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="PluginSet">
    <xs:annotation>
      <xs:documentation source="version">0.0.0+</xs:documentation>
      <xs:documentation source="description">Documents a set of Log4j plugins.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="groupId" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
          <xs:documentation source="description">The group ID of the set.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="artifactId" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
          <xs:documentation source="description">The artifact ID of the set.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="version" type="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
          <xs:documentation source="description">The version of the set.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="description" type="Description">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
          <xs:documentation source="description">Description of the set.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="scalars">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
          <xs:documentation source="description">A list of all scalar types used in properties.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="ScalarType" name="scalar" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="plugins">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
          <xs:documentation source="description">A list of all plugins in the set.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="PluginType" name="plugin" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="abstractTypes">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
          <xs:documentation source="description">A description of all the interfaces and extensible classes used in plugin elements.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="AbstractType" name="abstractType" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="version" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation source="version">0.0.0+</xs:documentation>
        <xs:documentation source="description">The version of the schema used by the XML document.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="Description">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
          <xs:documentation source="description">General documentation tag.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="format" type="xs:string" default="asciidoc" use="optional">
          <xs:annotation>
            <xs:documentation source="version">0.0.0+</xs:documentation>
            <xs:documentation source="description">Format used by the documentation text. Currently it **must** be `asciidoc`.
                    </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="PluginType">
    <xs:annotation>
      <xs:documentation source="version">0.0.0+</xs:documentation>
      <xs:documentation source="description">Describes the properties available to plugins.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="aliases">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
          <xs:documentation source="description">
                        The different aliases keys (e.g. XML tag names) under which the plugin can be used.
                    </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="alias" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="supertypes">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
          <xs:documentation source="description">
                        List of all the supertypes of a plugin.
                    </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="supertype" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="attributes">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
          <xs:documentation source="description">List of **all** the configuration attributes supported</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="PluginAttribute" name="attribute" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="elements">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
          <xs:documentation source="description">List of **all** possible nested components.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="PluginElement" name="element" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="description" type="Description">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
          <xs:documentation source="description">Description of the plugin.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation source="version">0.0.0+</xs:documentation>
        <xs:documentation source="description">The unique name of this plugin.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="namespace" type="xs:string" default="Core" use="optional">
      <xs:annotation>
        <xs:documentation source="version">0.0.0+</xs:documentation>
        <xs:documentation source="description">The namespace of the plugin.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="deferChildren" type="xs:boolean" default="false" use="optional">
      <xs:annotation>
        <xs:documentation source="version">0.0.0+</xs:documentation>
        <xs:documentation source="description">If `true`, the evaluation of the children of this element is deferred.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="className" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation source="version">0.0.0+</xs:documentation>
        <xs:documentation source="description">Fully qualified name of the class implementing the plugin.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PluginElement">
    <xs:annotation>
      <xs:documentation source="version">0.0.0+</xs:documentation>
      <xs:documentation source="description">Describes a nested configuration component.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="description" type="Description">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
          <xs:documentation source="description">An HTML description of this element.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
    <xs:attribute name="multiplicity" type="xs:string" default="1" use="optional">
      <xs:annotation>
        <xs:documentation source="version">0.0.0+</xs:documentation>
        <xs:documentation source="description">Either `*`, if the field accepts a collection of elements, or `1`.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="required" type="xs:boolean" default="false" use="optional">
      <xs:annotation>
        <xs:documentation source="version">0.0.0+</xs:documentation>
        <xs:documentation source="description">If set to `true` the field must be not null or a not empty collection.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation source="version">0.0.0+</xs:documentation>
        <xs:documentation source="description">The fully qualified name of the Java type (class or interface) of this component.
If the type is an array or collection, this returns the type of the element.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PluginAttribute">
    <xs:annotation>
      <xs:documentation source="version">0.0.0+</xs:documentation>
      <xs:documentation source="description">A scalar configuration value for the plugin.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="description" type="Description">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
          <xs:documentation source="description">A description of the property.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation source="version">0.0.0+</xs:documentation>
        <xs:documentation source="description">The name of the property.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="xs:string" default="java.lang.String" use="optional">
      <xs:annotation>
        <xs:documentation source="version">0.0.0+</xs:documentation>
        <xs:documentation source="description">The Java name of this attribute&apos;s type, e.g. `boolean`, `java.lang.String`, fully qualified name of an enum.
The type must be an enum or must have a type converter.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="required" type="xs:boolean" default="false" use="optional">
      <xs:annotation>
        <xs:documentation source="version">0.0.0+</xs:documentation>
        <xs:documentation source="description">If set to `true` the attribute is required.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="defaultValue" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">0.0.0+</xs:documentation>
        <xs:documentation source="description">The default value of this attribute as string.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="defaultProperty" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation source="version">0.0.0+</xs:documentation>
        <xs:documentation source="description">The Log4j property that contains the default value of this attribute.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ScalarType">
    <xs:annotation>
      <xs:documentation source="version">0.0.0+</xs:documentation>
      <xs:documentation source="description">Describes a Java type that can be converted to a string.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="values">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
          <xs:documentation source="description">The possible string values of this type.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element type="ScalarValue" name="value" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="description" type="Description">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
          <xs:documentation source="description">Description of the plugin.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
    <xs:attribute name="className" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation source="version">0.0.0+</xs:documentation>
        <xs:documentation source="description">Fully qualified name of the class implementing the plugin.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ScalarValue">
    <xs:annotation>
      <xs:documentation source="version">0.0.0+</xs:documentation>
      <xs:documentation source="description">One of the possible values of a scalar Java type.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="description" type="Description">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
          <xs:documentation source="description">The description of the value.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation source="version">0.0.0+</xs:documentation>
        <xs:documentation source="description">The name of the value.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AbstractType">
    <xs:annotation>
      <xs:documentation source="version">0.0.0+</xs:documentation>
      <xs:documentation source="description">A documented interface or abstract class used in plugins.</xs:documentation>
    </xs:annotation>
    <xs:all>
      <xs:element minOccurs="0" name="description" type="Description">
        <xs:annotation>
          <xs:documentation source="version">0.0.0+</xs:documentation>
          <xs:documentation source="description">Description of the plugin.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
    <xs:attribute name="className" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation source="version">0.0.0+</xs:documentation>
        <xs:documentation source="description">Fully qualified name of the class implementing the plugin.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>